@model  PropertyCross.Models.ListingFiltersViewModel
@using System.Web.Mvc.Html


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Property Cross", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form pull-right">
                    <button type="button" class="btn">Favourites</button>
                </form>
            </div>
        </div>
    </div>

            @using (Html.BeginForm("ListingFilters", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(p => p.Type)
                <p>
                    Use bla bla bla
                    bla bla bla
                    bla bla bla
                </p>
                <p>
                    @Html.TextBoxFor(x => x.PlaceName)
                </p>
                <p>
                    <input class="btn" id="btnGo"value="Go" type="submit">
                    @*<button class="btn">My location</button>*@
             
                    <label>Recent searches:</label>
                    <div id="result1"> </div>
                </p>
                @section Scripts{
                    <script src="@Url.Content("~/scripts/jquery-3.1.1.js")"></script>
                    <script type="text/javascript">
                        $(function() {
                            $('#btnGo')
                                .click(function() {
                                    var listingFiltersViewModel = {
                                        type: $('#id-type').val(),
                                        placeName: $('#id-placeName').val()

                                    }

                                    $.ajax({
                                        type: 'POST',
                                        data: (listingFiltersViewModel),
                                        url: 'Views/Home/Index',
                                        dataType: 'JSON',
                                        contentType: 'application/json',
                                        success: function(data) {
                                            $('#result1').html(data);
                                        }

                                });
                                });
                        })
                    </script>

                }

}

