@model  NestoriaClient.ListingFilters
@using System.Web.Mvc.Html

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Property Cross</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Property Cross", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form pull-right">
                <button type="button" class="btn">Favourites</button>
            </form>
        </div>
    </div>
</div>
   
<div class="container body-content">
    <div class="span4" align="center">
        @using (Html.BeginForm("ListingFilters", "NestoriaClient", FormMethod.Post))
        {
            <p>Use bla bla bla
                bla bla bla
                bla bla bla</p>
            <p> @Html.TextBoxFor(p => p.PlaceName)
            </p>
            <p><button name="Searchbtn" class="btn" type="submit">Go</button> <button class="btn">My location</button>
            </p>
            <p><label>Recent searches:</label>
            </p>
            <p><textarea ></textarea>
            </p>
    }
    </div>
    <div></div>
</div>
</body>
</html> 