@model Domain.Flat

<div class="well">
    <h3>
        <strong>@Model.FlatLocation</strong>
        <span class="pull-left label label-primary">@Model.Price</span>
    </h3>
    <span class="lead">@Model.Summary</span>
</div>